<div class="screenDetail">
    <div class="row">
        <div class="flex-container mt-3">
            <div class="buttons">
                <h4 class="m-2">Buttons:</h4>
                <button class="btn btn-lg btn-primary m-2">Search</button>
                <button class="hover me-2">Edit</button>
                <button class="hover">Delete</button>
            </div>
            <div class="search-bar">
                <h4 class="m-2">SearchBar:</h4>
                <div class="form-group has-search ms-2">
                    <span class="fa fa-search form-control-feedback"></span>
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <div class="search-box m-2">
                    <input type="text" class="form-control" id="search-input" >
                    <span class="clear-icon">&times;</span>
                </div>

            </div>
            <div class="icons">
                <h4 class="m-2">Icons:</h4>
                <img class="m-2" style="height: 1.5rem;" src='assets/event.svg'>
                <img class="m-2" style="height: 1.5rem;" src='assets/role.svg'/>
                <img class="m-2" style="height: 1.5rem;" src='assets/recruiter.svg'/>
                <img class="m-2" style="height: 1.5rem;" src='assets/search.svg'>
                <img class="m-2" style="height: 1.5rem" src='assets/logout.svg'/>
                <img class="m-2" style="height: 1.5rem" src='assets/calender.png'/>
                <img class="m-2" style="height: 1.5rem" src='assets/trash3.svg'/>
                <img class="m-2" style="height: 1.7rem" src='assets/edit.svg'/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="flex-container">
            <div class="icons-button">
                <h4 class="m-2">Icon Buttons:</h4>
                <button class="m-2 event"><img class="m-2"  style="height: 1.6rem" src='assets/event.svg'>Events</button>
                <button class="m-2 event"><img class="m-2" style="height: 1.6rem"  src='assets/role.svg'>Job Roles</button>                
                <button class="m-2 event"><img class="m-2" style="height: 1.6rem"  src='assets/recruiter.svg'>Recruiters</button>         
                <button class="m-2 dashboard"><img class="m-2" style="height: 1.6rem"  src='assets/home.png'>Dashboard</button>           
                <button class="m-2 dashboard"><img class="m-2" style="height: 1.6rem"  src='assets/calendar.png'>Events</button>           
                <button class="m-2 dashboard"><img class="m-2" style="height: 1.6rem"  src='assets/account-search.svg'>Profiles</button>
                <button class="m-2 group"><img class="m-2" style="height: 1.4rem"  src='assets/account-group.svg'>89</button> 

            </div>
            <div class="logo">
                <h4 class="m-2">Logo</h4>                
                <img class="m-2" style="height: 1.5rem;" src='assets/technovert_logo_blue.svg'>
            </div>
            
        </div>
    </div>
</div>