.screenDetail {
    //padding: 2rem 0rem 0rem 17rem;
    background-color: #f8f8f8;

    .row {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        

        .flex-container {
            display: flex;
            justify-content: center;
            .buttons {
                background-color: #fff;
                border-style: ridge;
                width: 26rem;
                margin-right: 1.5rem;
            }
            .p-button{
                margin: 4px;
            }
        }
    }
}

// .row {
//     padding: 2rem 0rem 0rem 17rem;
//     justify-content: space-around;

//     .question-cards {
//         margin-left: 5rem;

//         p {
//             margin-bottom: 0px;
//         }

//         hr {
//             margin: 0px;
//         }

//         width: 18rem;
//         border-style: ridge;
//         border-width: 0.1px;
//         border-color: #8d8484;
//         border-radius: 4px;


//         .question-details {

//             .question-info {
//                 color: #8d8484;
//             }

//             .total-questions {
//                 color: #388ace;
//             }

//             .orders {
//                 display: flex;

//                 .pi {
//                     padding: 0.3rem;
//                     color: blue;
//                     margin: 0.8rem;
//                     font-size: 1.2rem;
//                     border-radius: 5px;
//                     background-color: lightblue;
//                 }

//                 .h6 {
//                     padding-left: 4rem;
//                     padding-top: 0.4rem;
//                     font-size: 1.5rem;
//                     color: #1d8eb3;
//                 }
//             }
//         }

//         .question-type {
//             display: flex;
//             font-size: 12px;
//             justify-content: space-around;
//         }

//         .total-question {
//             display: flex;
//             justify-content: space-around;
//         }
//     }
// }