<div class="screenDetail">
    <div class="row">
        <div class="flex-container mt-3">
            <div class="buttons">
                <h4 class="m-2">Buttons:</h4>
                bootstrap
                <div class="d-flex flex-wrap mb-3">
                    <div class="w-5 p-2 m-2 btn btn-primary">Flex item 1</div>
                    <div class="w-5 p-2 m-2 btn btn-primary">Flex item 2</div>
                    <div class="w-5 p-2 m-2 btn btn-primary">Flex item 3</div>
                </div>

                primeflex
                <div class="flex flex-wrap" style="max-width: 500px">
                    <p-button label="Submit"
                        class="w-11rem h-3rem flex align-items-center justify-content-center bg-primary font-bold m-2 border-round"></p-button>
                    <button
                        class="w-11rem h-3rem flex align-items-center justify-content-center bg-primary font-bold m-2 border-round border-none">0</button>
                    <div
                        class="w-11rem h-3rem flex align-items-center justify-content-center bg-primary font-bold m-2 border-round">
                        1</div>
                    <div
                        class="w-11rem h-3rem flex align-items-center justify-content-center bg-primary font-bold m-2 border-round">
                        2</div>
                    <div
                        class="w-11rem h-3rem flex align-items-center justify-content-center bg-primary font-bold m-2 border-round">
                        3</div>
                </div>
            </div>

        </div>
    </div>
</div>