  <p-panel>
      <ng-template pTemplate="header">
          <div class="tech-site">
              <div class="container ">
                  <app-header class="header position-fixed"></app-header>
                 <img src="assets/home_banner.webp"> 
                  <div class="centered h1">WE CREATE YOUR DIGITAL FUTURE</div>
              </div>
          </div>
      </ng-template>
      <div class="digital-experiences">
          <app-digital-experiences></app-digital-experiences>
      </div>
      <div class="what-we-do">
          <app-what-we-do></app-what-we-do>
      </div>
      <div class="Customers-love-us">
          <app-cutomers-love-us></app-cutomers-love-us>
      </div>
      <div class="articles">
          <app-article></app-article>
      </div>
      <ng-template pTemplate="footer">
          <app-footer></app-footer>
      </ng-template>
      
  </p-panel>
  