::ng-deep .p-panel .p-panel-header, 
::ng-deep .p-panel .p-panel-content,
::ng-deep .p-panel .p-panel-footer {
  padding: 0;

}

.tech-site {
    .container {
        position: relative;
        text-align: center;
        color: white;
        margin: 0rem;
        padding: 0rem;

        .header {
            position: absolute;
           
        }

        .centered {
            position: absolute;
            top: 46%;
            left: 46%;
            width: 70rem;
            transform: translate(-50%, -50%);
            font-size: clamp(40px, 4vw, 48px);
            letter-spacing: 6px;
            line-height: 1.3;
            font-weight: 900 !important;
        }
     
    }
}
@media (max-width: 1398) {
    .banner-image {
        max-width: 80%; /* Adjust the image size as needed */
    }
}

