<!-- <div class="row">
    <div class="question-cards col-md-3 m-1 mt-5 " *ngFor="let skill of questionDetails">
        <div class="question-details">
            <p class="h6 ms-2 mt-2">{{skill.questionType}}<img src="assets/edit.svg"></p>
            <p class="question-info  ms-2">{{skill.description}}</p>
            <div class="mt-4 ms-2 total-questions">
                <p>view / Add Questions</p>
            </div>
        </div>
        <div (click)="getQuestionDetails(skill.id)">
        <div class="total-question h6 mt-2 ms-2">
            <p>{{skill.discountedPrice}}</p>
            <p>{{skill.quantity}}</p>
            <p>{{skill.price}}</p>
            <p>{{skill.id}}</p>
        </div>
    </div>
    </div>
</div> -->
<p>{{id}}</p>
<div *ngFor="let s of questionDetails">
    <p>{{s.id}}</p>
    <p>{{s.description}}</p>
    </div>
<div *ngFor="let s of subQuestion">
<p>{{s.subQuestionName}}</p>
<p>{{s.questionDetails_id}}</p>
</div>