<div class="navbar" [ngClass]="{'header': true, 'scrolled': isHeaderScrolled}">
    <div class="top-bar">
        <div class="logo-container">
            <img class="logo" src={{logoSrc}} alt="Technovert Logo">
        </div>
        <div class="menu-container">
            <div class="mb-2 menu">
                <p>Services</p>
                <p>Solutions</p>
                <p>Labs</p>
                <p>Insights</p>
                <p>About</p>
                <p>Careers</p>
            </div>
        </div>
    </div>
</div>
