.header .top-bar {
    display: flex;
    padding: 1.3rem;
    justify-content: space-around;
}

.header .menu {
    display: flex;
    margin-top: 1rem;
    font-size: 1.3rem;
}

.header .menu p {
    margin-left: 1rem;
}

.header.scrolled {
    background-color: #ffff;
    height: 5.5rem;
    color: black;
}

@media (max-width: 1398px) {
    .header .top-bar {
        /* You can adjust or remove styles if needed */
    }
    
    .header .menu p {
        font-size: 1rem;
        margin-left: 0.5rem;
    }
}
